In [497]:
import pandas as pd
import seaborn as sns

In [498]:
titanic_data = sns.load_dataset('titanic')
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

DATA INVESTIGATION

In [499]:
#how many empty values are there?
titanic_data.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [500]:
titanic_data.drop("deck", axis = 1, inplace = True) #dropping column with too many NULL

In [501]:
titanic_data.dtypes #what data types are there?

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
embark_town      object
alive            object
alone              bool
dtype: object

DATA TRANSFORMATION

In [502]:
titanic_data["class"] = titanic_data["class"].astype("str") #changing data type to string

titanic_data.fillna(0, inplace = True) #filling empty values with 0

In [503]:
#dropping not needed columns

titanic_data.drop(["embark_town", "alive", "alone", "adult_male", "class"], axis = 1, inplace = True)

In [504]:
titanic_data.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked    who
0         0       3    male  22.0      1      0   7.2500        S    man
1         1       1  female  38.0      1      0  71.2833        C  woman
2         1       3  female  26.0      0      0   7.9250        S  woman
3         1       1  female  35.0      1      0  53.1000        S  woman
4         0       3    male  35.0      0      0   8.0500        S    man

In [505]:
titanic_data["sex"].unique() #"male", "female"

array(['male', 'female'], dtype=object)

In [506]:
#create dictionary
sex_mapping = {"male": 0, "female": 1}

#replace values
titanic_data["sex"] = titanic_data["sex"].map(sex_mapping)

In [507]:
#embark town
titanic_data["embarked"].unique() #S, C, Q

embark_town_mapping = {"S": 0, "C": 1, "Q": 2, 0:0}

#replace
titanic_data["embarked"] = titanic_data["embarked"].map(embark_town_mapping)

In [508]:
#embarked

titanic_data["embarked"].unique()

#mapping
embarked_mapping = {"S": 0, "C": 1, "Q": 2, 0:0}

#replace
titanic_data["embarked"] = titanic_data["embarked"].map(embarked_mapping)

In [509]:
#who

titanic_data["who"].unique() #child, woman, man

who_mapping = {"child": 0, "woman": 1, "man": 2, 0:0}

#replace
titanic_data["who"] = titanic_data["who"].map(who_mapping)

In [510]:
titanic_data.head()

   survived  pclass  sex   age  sibsp  parch     fare  embarked  who
0         0       3    0  22.0      1      0   7.2500       0.0    2
1         1       1    1  38.0      1      0  71.2833       NaN    1
2         1       3    1  26.0      0      0   7.9250       0.0    1
3         1       1    1  35.0      1      0  53.1000       0.0    1
4         0       3    0  35.0      0      0   8.0500       0.0    2

In [511]:
#data model
#splitting the data for training and testing

from sklearn.model_selection import train_test_split

X = titanic_data.drop("survived", axis = 1) #features
Y = titanic_data["survived"] #dependant variable

In [512]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size = 0.7)

LOGISTICS REGRESSION

In [513]:
#import the module
from sklearn.linear_model import LogisticRegression

#initialize the model
model = LogisticRegression()

#train the model
model.fit(X_train, Y_train)

#predict using the model
prediction_results = model.predict(X_test)

#print the prediction results
print(prediction_results)

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values